.sorting-visualizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.array-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
}

.array-bar {
    width: 5px;
    margin-right: 2px;
    background-color: rgb(73, 73, 202);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:hover:enabled {
    background-color: #ddd;
}

.array-bar.red {
    background-color: red;
}

.array-bar.blue {
    background-color: rgb(73, 73, 202);
}

.array-bar.green {
    background-color: green;
}